<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xhu.click.db.mapper.AdvertMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xhu.click.db.entity.pojo.Advert">
        <id column="id" property="id" />
        <result column="fatherid" property="fatherid" />
        <result column="user_id" property="userId" />
        <result column="replay_id" property="replayId" />
        <result column="content" property="content" />
        <result column="photo_url" property="photoUrl" />
        <result column="like" property="like" />
        <result column="comment" property="comment" />
        <result column="collect" property="collect" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fatherid, user_id, replay_id, content, photo_url, like, comment, collect, add_time, update_time, deleted, version
    </sql>

</mapper>
